body{
  color: rgb(33, 25, 34);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    margin: 0;
    padding:0;

}
ul {
    list-style-type: none; /* con esto quitamos los puntos del ul*/
    margin-top: 15px;
    padding: 0;
    background-color:white;
    overflow: hidden;
  }
  li {
    display: inline;
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:#efefef;
    border-radius: 30px;
  }
  
  .botones{
    margin-top: 12px;
  }

  #pinterest-icon {
    width: 30px;
    height: 30px;
    
  }
  #botonbusqueda{
    position: absolute;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    width: 5px;
    height: 5px;
    position: absolute;
    z-index: 2;
    border-radius: 100px;
    border:0;
  }
  input::placeholder {
    text-align:center;
    color:gray;
    font-size: 25;
    font-style: italic;
  }
    
   #barrabusqueda{
    padding-right: 100px;
    z-index:1;
    position: relative;
    background-color:#efefef;
    border-radius: 50px;
    border: 0;
    width: 1550px;
    height:50px;
  } 
  
  #botoninicio{
    border-radius: 50px;
    background-color: #111;
    font-weight: 700;/*font-weight permite establecer el grosor con el que se muestran las letras del texto*/
    font-size: 18px;

  }
  
  #botonhoy{
    border-radius: 20px;
    color: #111;
    font-weight: 700;
    font-size: 18px;
  }
  #campana{
    width:27px;
    height: 27px;
  }
  #mensaje{
    width: 27px;
    height: 27px;
  }

  #imagenperfil{
    border-radius: 20px;
    width:30px;
    height: 30px;
  }
  #flecha{
    width:15px;
    height: 15px;
    margin-top: 19px;
  }

  main{
    justify-content:center;
    margin-left:55px;
    margin-right: 45px;
  }

  .fila{
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
  }
  .columna{
    flex: 10%; 
    padding:5px
  }

  .fila .columna img{
    margin-top: 5px;
    margin-bottom: 25px;
    cursor: zoom-in;
    border-radius: 30px;
    width: 252px;  
  }
  
  @media (max-width:800px)
  {
    .columna{
      flex:50%;
      padding: 5px;
    }
  }

  @media (max-width:600px)
{
  .columna{
    flex:100%;
    padding: 5px;
    margin-left: 70px;
  }
}