body{
  color: rgb(33, 25, 34);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    width:100%;/* para que aparezcan las imagenes en toda la pantalla,intente darle el width a un id para el section pero no funciono*/

}
ul {
    list-style-type: none; /* con esto quitamos los puntos del ul*/
    margin: 0;
    padding: 0;
    background-color:white;
    overflow: hidden;
  }
  li {
    display: inline;
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:#efefef;
    border-radius: 30px;
  }
  
   #barrabusqueda{
    background-color: transparent;
  } 
  
  #botoninicio{
    border-radius: 20px;
    background-color: #111;
    font-weight: 700;/*font-weight permite establecer el grosor con el que se muestran las letras del texto*/
    font-size: 15px;

  }
  
  #botonhoy{
    border-radius: 20px;
    color: #111;
    font-weight: 700;
    font-size: 15px;
  }
  #imagenperfil{
    border-radius: 20px;
  }

  .imagen{
    display:inline-block;
    border-radius: 100px;
    cursor: zoom-in;
    /* color: transparent; */
    /* position: relative; */
  }
  section div img{
    border-radius: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    width: 252px; 
  }
